/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 9:19:37 PM
    Author     : milind
*/
.loaders {
    max-width:100%;
    .box {
        width: 100px;
        height: 100px;
        display: inline-block;
        border:1px solid #ddd;
        background: #292b37;
        position:relative;
        padding: 20px;
        font-size: 150%;
        .loader1{
            position: absolute;
            left: 20%;
            top: 31%;
        }
        .loader2{
            padding-top: 30px;
        }
        .loader3{
            margin-top: 30px;
            margin-left: 30px;
            &--double{
                margin-top: 27px;
                margin-left: 27px;
            }
        }
        .loader4{
            margin-top: 37px;
            margin-left: 46px;
        }
        .loader7{
           margin-top:22px;
           margin-left:38px;
        }
    }
}
div div {

}