/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 11:09:07 PM
    Author     : milind
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:28:31 PM
    Author     : milind
*/
.loader5 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em; }
  .loader5 .hill {
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    top: 1.7em;
    left: 1.7em;
    background-color: transparent;
    border-left: 4px solid whitesmoke;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .loader5 .rollingBox {
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 3px solid whitesmoke;
    border-radius: 15%;
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg);
    -webkit-animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;;
    -moz-animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;;
    -ms-animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;;
    -o-animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;;
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;; }

@-webkit-keyframes push {
  0% {
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg); }
  5% {
    -moz-transform: translate(0, -1em) rotate(-50deg);
    -o-transform: translate(0, -1em) rotate(-50deg);
    -ms-transform: translate(0, -1em) rotate(-50deg);
    -webkit-transform: translate(0, -1em) rotate(-50deg);
    transform: translate(0, -1em) rotate(-50deg); }
  20% {
    -moz-transform: translate(1em, -2em) rotate(47deg);
    -o-transform: translate(1em, -2em) rotate(47deg);
    -ms-transform: translate(1em, -2em) rotate(47deg);
    -webkit-transform: translate(1em, -2em) rotate(47deg);
    transform: translate(1em, -2em) rotate(47deg); }
  25% {
    -moz-transform: translate(1em, -2em) rotate(45deg);
    -o-transform: translate(1em, -2em) rotate(45deg);
    -ms-transform: translate(1em, -2em) rotate(45deg);
    -webkit-transform: translate(1em, -2em) rotate(45deg);
    transform: translate(1em, -2em) rotate(45deg); }
  30% {
    -moz-transform: translate(1em, -2em) rotate(40deg);
    -o-transform: translate(1em, -2em) rotate(40deg);
    -ms-transform: translate(1em, -2em) rotate(40deg);
    -webkit-transform: translate(1em, -2em) rotate(40deg);
    transform: translate(1em, -2em) rotate(40deg); }
  45% {
    -moz-transform: translate(2em, -3em) rotate(137deg);
    -o-transform: translate(2em, -3em) rotate(137deg);
    -ms-transform: translate(2em, -3em) rotate(137deg);
    -webkit-transform: translate(2em, -3em) rotate(137deg);
    transform: translate(2em, -3em) rotate(137deg); }
  50% {
    -moz-transform: translate(2em, -3em) rotate(135deg);
    -o-transform: translate(2em, -3em) rotate(135deg);
    -ms-transform: translate(2em, -3em) rotate(135deg);
    -webkit-transform: translate(2em, -3em) rotate(135deg);
    transform: translate(2em, -3em) rotate(135deg); }
  55% {
    -moz-transform: translate(2em, -3em) rotate(130deg);
    -o-transform: translate(2em, -3em) rotate(130deg);
    -ms-transform: translate(2em, -3em) rotate(130deg);
    -webkit-transform: translate(2em, -3em) rotate(130deg);
    transform: translate(2em, -3em) rotate(130deg); }
  70% {
    -moz-transform: translate(3em, -4em) rotate(217deg);
    -o-transform: translate(3em, -4em) rotate(217deg);
    -ms-transform: translate(3em, -4em) rotate(217deg);
    -webkit-transform: translate(3em, -4em) rotate(217deg);
    transform: translate(3em, -4em) rotate(217deg); }
  75% {
    -moz-transform: translate(3em, -4em) rotate(220deg);
    -o-transform: translate(3em, -4em) rotate(220deg);
    -ms-transform: translate(3em, -4em) rotate(220deg);
    -webkit-transform: translate(3em, -4em) rotate(220deg);
    transform: translate(3em, -4em) rotate(220deg); }
  100% {
    -moz-transform: translate(0, -1em) rotate(-225deg);
    -o-transform: translate(0, -1em) rotate(-225deg);
    -ms-transform: translate(0, -1em) rotate(-225deg);
    -webkit-transform: translate(0, -1em) rotate(-225deg);
    transform: translate(0, -1em) rotate(-225deg); } }
@-moz-keyframes push {
  0% {
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg); }
  5% {
    -moz-transform: translate(0, -1em) rotate(-50deg);
    -o-transform: translate(0, -1em) rotate(-50deg);
    -ms-transform: translate(0, -1em) rotate(-50deg);
    -webkit-transform: translate(0, -1em) rotate(-50deg);
    transform: translate(0, -1em) rotate(-50deg); }
  20% {
    -moz-transform: translate(1em, -2em) rotate(47deg);
    -o-transform: translate(1em, -2em) rotate(47deg);
    -ms-transform: translate(1em, -2em) rotate(47deg);
    -webkit-transform: translate(1em, -2em) rotate(47deg);
    transform: translate(1em, -2em) rotate(47deg); }
  25% {
    -moz-transform: translate(1em, -2em) rotate(45deg);
    -o-transform: translate(1em, -2em) rotate(45deg);
    -ms-transform: translate(1em, -2em) rotate(45deg);
    -webkit-transform: translate(1em, -2em) rotate(45deg);
    transform: translate(1em, -2em) rotate(45deg); }
  30% {
    -moz-transform: translate(1em, -2em) rotate(40deg);
    -o-transform: translate(1em, -2em) rotate(40deg);
    -ms-transform: translate(1em, -2em) rotate(40deg);
    -webkit-transform: translate(1em, -2em) rotate(40deg);
    transform: translate(1em, -2em) rotate(40deg); }
  45% {
    -moz-transform: translate(2em, -3em) rotate(137deg);
    -o-transform: translate(2em, -3em) rotate(137deg);
    -ms-transform: translate(2em, -3em) rotate(137deg);
    -webkit-transform: translate(2em, -3em) rotate(137deg);
    transform: translate(2em, -3em) rotate(137deg); }
  50% {
    -moz-transform: translate(2em, -3em) rotate(135deg);
    -o-transform: translate(2em, -3em) rotate(135deg);
    -ms-transform: translate(2em, -3em) rotate(135deg);
    -webkit-transform: translate(2em, -3em) rotate(135deg);
    transform: translate(2em, -3em) rotate(135deg); }
  55% {
    -moz-transform: translate(2em, -3em) rotate(130deg);
    -o-transform: translate(2em, -3em) rotate(130deg);
    -ms-transform: translate(2em, -3em) rotate(130deg);
    -webkit-transform: translate(2em, -3em) rotate(130deg);
    transform: translate(2em, -3em) rotate(130deg); }
  70% {
    -moz-transform: translate(3em, -4em) rotate(217deg);
    -o-transform: translate(3em, -4em) rotate(217deg);
    -ms-transform: translate(3em, -4em) rotate(217deg);
    -webkit-transform: translate(3em, -4em) rotate(217deg);
    transform: translate(3em, -4em) rotate(217deg); }
  75% {
    -moz-transform: translate(3em, -4em) rotate(220deg);
    -o-transform: translate(3em, -4em) rotate(220deg);
    -ms-transform: translate(3em, -4em) rotate(220deg);
    -webkit-transform: translate(3em, -4em) rotate(220deg);
    transform: translate(3em, -4em) rotate(220deg); }
  100% {
    -moz-transform: translate(0, -1em) rotate(-225deg);
    -o-transform: translate(0, -1em) rotate(-225deg);
    -ms-transform: translate(0, -1em) rotate(-225deg);
    -webkit-transform: translate(0, -1em) rotate(-225deg);
    transform: translate(0, -1em) rotate(-225deg); } }
@-ms-keyframes push {
  0% {
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg); }
  5% {
    -moz-transform: translate(0, -1em) rotate(-50deg);
    -o-transform: translate(0, -1em) rotate(-50deg);
    -ms-transform: translate(0, -1em) rotate(-50deg);
    -webkit-transform: translate(0, -1em) rotate(-50deg);
    transform: translate(0, -1em) rotate(-50deg); }
  20% {
    -moz-transform: translate(1em, -2em) rotate(47deg);
    -o-transform: translate(1em, -2em) rotate(47deg);
    -ms-transform: translate(1em, -2em) rotate(47deg);
    -webkit-transform: translate(1em, -2em) rotate(47deg);
    transform: translate(1em, -2em) rotate(47deg); }
  25% {
    -moz-transform: translate(1em, -2em) rotate(45deg);
    -o-transform: translate(1em, -2em) rotate(45deg);
    -ms-transform: translate(1em, -2em) rotate(45deg);
    -webkit-transform: translate(1em, -2em) rotate(45deg);
    transform: translate(1em, -2em) rotate(45deg); }
  30% {
    -moz-transform: translate(1em, -2em) rotate(40deg);
    -o-transform: translate(1em, -2em) rotate(40deg);
    -ms-transform: translate(1em, -2em) rotate(40deg);
    -webkit-transform: translate(1em, -2em) rotate(40deg);
    transform: translate(1em, -2em) rotate(40deg); }
  45% {
    -moz-transform: translate(2em, -3em) rotate(137deg);
    -o-transform: translate(2em, -3em) rotate(137deg);
    -ms-transform: translate(2em, -3em) rotate(137deg);
    -webkit-transform: translate(2em, -3em) rotate(137deg);
    transform: translate(2em, -3em) rotate(137deg); }
  50% {
    -moz-transform: translate(2em, -3em) rotate(135deg);
    -o-transform: translate(2em, -3em) rotate(135deg);
    -ms-transform: translate(2em, -3em) rotate(135deg);
    -webkit-transform: translate(2em, -3em) rotate(135deg);
    transform: translate(2em, -3em) rotate(135deg); }
  55% {
    -moz-transform: translate(2em, -3em) rotate(130deg);
    -o-transform: translate(2em, -3em) rotate(130deg);
    -ms-transform: translate(2em, -3em) rotate(130deg);
    -webkit-transform: translate(2em, -3em) rotate(130deg);
    transform: translate(2em, -3em) rotate(130deg); }
  70% {
    -moz-transform: translate(3em, -4em) rotate(217deg);
    -o-transform: translate(3em, -4em) rotate(217deg);
    -ms-transform: translate(3em, -4em) rotate(217deg);
    -webkit-transform: translate(3em, -4em) rotate(217deg);
    transform: translate(3em, -4em) rotate(217deg); }
  75% {
    -moz-transform: translate(3em, -4em) rotate(220deg);
    -o-transform: translate(3em, -4em) rotate(220deg);
    -ms-transform: translate(3em, -4em) rotate(220deg);
    -webkit-transform: translate(3em, -4em) rotate(220deg);
    transform: translate(3em, -4em) rotate(220deg); }
  100% {
    -moz-transform: translate(0, -1em) rotate(-225deg);
    -o-transform: translate(0, -1em) rotate(-225deg);
    -ms-transform: translate(0, -1em) rotate(-225deg);
    -webkit-transform: translate(0, -1em) rotate(-225deg);
    transform: translate(0, -1em) rotate(-225deg); } }
@-o-keyframes push {
  0% {
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg); }
  5% {
    -moz-transform: translate(0, -1em) rotate(-50deg);
    -o-transform: translate(0, -1em) rotate(-50deg);
    -ms-transform: translate(0, -1em) rotate(-50deg);
    -webkit-transform: translate(0, -1em) rotate(-50deg);
    transform: translate(0, -1em) rotate(-50deg); }
  20% {
    -moz-transform: translate(1em, -2em) rotate(47deg);
    -o-transform: translate(1em, -2em) rotate(47deg);
    -ms-transform: translate(1em, -2em) rotate(47deg);
    -webkit-transform: translate(1em, -2em) rotate(47deg);
    transform: translate(1em, -2em) rotate(47deg); }
  25% {
    -moz-transform: translate(1em, -2em) rotate(45deg);
    -o-transform: translate(1em, -2em) rotate(45deg);
    -ms-transform: translate(1em, -2em) rotate(45deg);
    -webkit-transform: translate(1em, -2em) rotate(45deg);
    transform: translate(1em, -2em) rotate(45deg); }
  30% {
    -moz-transform: translate(1em, -2em) rotate(40deg);
    -o-transform: translate(1em, -2em) rotate(40deg);
    -ms-transform: translate(1em, -2em) rotate(40deg);
    -webkit-transform: translate(1em, -2em) rotate(40deg);
    transform: translate(1em, -2em) rotate(40deg); }
  45% {
    -moz-transform: translate(2em, -3em) rotate(137deg);
    -o-transform: translate(2em, -3em) rotate(137deg);
    -ms-transform: translate(2em, -3em) rotate(137deg);
    -webkit-transform: translate(2em, -3em) rotate(137deg);
    transform: translate(2em, -3em) rotate(137deg); }
  50% {
    -moz-transform: translate(2em, -3em) rotate(135deg);
    -o-transform: translate(2em, -3em) rotate(135deg);
    -ms-transform: translate(2em, -3em) rotate(135deg);
    -webkit-transform: translate(2em, -3em) rotate(135deg);
    transform: translate(2em, -3em) rotate(135deg); }
  55% {
    -moz-transform: translate(2em, -3em) rotate(130deg);
    -o-transform: translate(2em, -3em) rotate(130deg);
    -ms-transform: translate(2em, -3em) rotate(130deg);
    -webkit-transform: translate(2em, -3em) rotate(130deg);
    transform: translate(2em, -3em) rotate(130deg); }
  70% {
    -moz-transform: translate(3em, -4em) rotate(217deg);
    -o-transform: translate(3em, -4em) rotate(217deg);
    -ms-transform: translate(3em, -4em) rotate(217deg);
    -webkit-transform: translate(3em, -4em) rotate(217deg);
    transform: translate(3em, -4em) rotate(217deg); }
  75% {
    -moz-transform: translate(3em, -4em) rotate(220deg);
    -o-transform: translate(3em, -4em) rotate(220deg);
    -ms-transform: translate(3em, -4em) rotate(220deg);
    -webkit-transform: translate(3em, -4em) rotate(220deg);
    transform: translate(3em, -4em) rotate(220deg); }
  100% {
    -moz-transform: translate(0, -1em) rotate(-225deg);
    -o-transform: translate(0, -1em) rotate(-225deg);
    -ms-transform: translate(0, -1em) rotate(-225deg);
    -webkit-transform: translate(0, -1em) rotate(-225deg);
    transform: translate(0, -1em) rotate(-225deg); } }
@keyframes push {
  0% {
    -moz-transform: translate(0, -1em) rotate(-45deg);
    -o-transform: translate(0, -1em) rotate(-45deg);
    -ms-transform: translate(0, -1em) rotate(-45deg);
    -webkit-transform: translate(0, -1em) rotate(-45deg);
    transform: translate(0, -1em) rotate(-45deg); }
  5% {
    -moz-transform: translate(0, -1em) rotate(-50deg);
    -o-transform: translate(0, -1em) rotate(-50deg);
    -ms-transform: translate(0, -1em) rotate(-50deg);
    -webkit-transform: translate(0, -1em) rotate(-50deg);
    transform: translate(0, -1em) rotate(-50deg); }
  20% {
    -moz-transform: translate(1em, -2em) rotate(47deg);
    -o-transform: translate(1em, -2em) rotate(47deg);
    -ms-transform: translate(1em, -2em) rotate(47deg);
    -webkit-transform: translate(1em, -2em) rotate(47deg);
    transform: translate(1em, -2em) rotate(47deg); }
  25% {
    -moz-transform: translate(1em, -2em) rotate(45deg);
    -o-transform: translate(1em, -2em) rotate(45deg);
    -ms-transform: translate(1em, -2em) rotate(45deg);
    -webkit-transform: translate(1em, -2em) rotate(45deg);
    transform: translate(1em, -2em) rotate(45deg); }
  30% {
    -moz-transform: translate(1em, -2em) rotate(40deg);
    -o-transform: translate(1em, -2em) rotate(40deg);
    -ms-transform: translate(1em, -2em) rotate(40deg);
    -webkit-transform: translate(1em, -2em) rotate(40deg);
    transform: translate(1em, -2em) rotate(40deg); }
  45% {
    -moz-transform: translate(2em, -3em) rotate(137deg);
    -o-transform: translate(2em, -3em) rotate(137deg);
    -ms-transform: translate(2em, -3em) rotate(137deg);
    -webkit-transform: translate(2em, -3em) rotate(137deg);
    transform: translate(2em, -3em) rotate(137deg); }
  50% {
    -moz-transform: translate(2em, -3em) rotate(135deg);
    -o-transform: translate(2em, -3em) rotate(135deg);
    -ms-transform: translate(2em, -3em) rotate(135deg);
    -webkit-transform: translate(2em, -3em) rotate(135deg);
    transform: translate(2em, -3em) rotate(135deg); }
  55% {
    -moz-transform: translate(2em, -3em) rotate(130deg);
    -o-transform: translate(2em, -3em) rotate(130deg);
    -ms-transform: translate(2em, -3em) rotate(130deg);
    -webkit-transform: translate(2em, -3em) rotate(130deg);
    transform: translate(2em, -3em) rotate(130deg); }
  70% {
    -moz-transform: translate(3em, -4em) rotate(217deg);
    -o-transform: translate(3em, -4em) rotate(217deg);
    -ms-transform: translate(3em, -4em) rotate(217deg);
    -webkit-transform: translate(3em, -4em) rotate(217deg);
    transform: translate(3em, -4em) rotate(217deg); }
  75% {
    -moz-transform: translate(3em, -4em) rotate(220deg);
    -o-transform: translate(3em, -4em) rotate(220deg);
    -ms-transform: translate(3em, -4em) rotate(220deg);
    -webkit-transform: translate(3em, -4em) rotate(220deg);
    transform: translate(3em, -4em) rotate(220deg); }
  100% {
    -moz-transform: translate(0, -1em) rotate(-225deg);
    -o-transform: translate(0, -1em) rotate(-225deg);
    -ms-transform: translate(0, -1em) rotate(-225deg);
    -webkit-transform: translate(0, -1em) rotate(-225deg);
    transform: translate(0, -1em) rotate(-225deg); } }

/*# sourceMappingURL=loader5.css.map */
