/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:51:31 PM
    Author     : milind
*/

@import '../_mixins.scss';
$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$spin-duration: 1s;
$pulse-duration: 750ms;

@include keyframes(loader4){
    50% { 
        background: $white;
    } 
}

.loader4 {
    position: relative;
    width: ($base-line-height / 4);
    height: $base-line-height;
    background: $off-white;
    @include animation('loader4 '+$pulse-duration+' infinite');
    @include animationDelay(1,$pulse-duration / 3,0);
    &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        height: ($base-line-height / 1.5);
        width: ($base-line-height / 4);
        background: $off-white;
        top: 50%;
        transform: translateY(-50%);
        @include animation('loader4 '+$pulse-duration+' infinite');
    }
    &:before {
        left: -($base-line-height / 2);
    }
    &:after {
        left: ($base-line-height / 2);
        @include animationDelay(1,$pulse-duration / 1.5,0);
    }
}