/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 11:45:51 PM
    Author     : milind
*/

@import '../_mixins.scss';

$bg:#292b37;
$fill:white;
$width:1em;
$height:2em;

.loader7{
    .hourglass{
        display:block;
        background:$bg;
        width:$width;
        height:$height;
        box-shadow:
            inset $bg 0 0 0 0,
            inset $fill 0 $width 0 0,
            inset $bg 0 0 $height 0;
        @include animation('hourglass 1s linear infinite');
    }

    .outer{
        fill:$fill;
    }

    .middle{
        fill:$bg;
    }

}
@include keyframes(hourglass){
    0%{
        @include transform(rotate(0deg));
        box-shadow:
            inset $bg 0 0 0 0,
            inset $fill 0 $width 0 0,
            inset $bg 0 $height 0 0,
            inset $fill 0 $height 0 0;
    }
    80%{
        @include transform(rotate(0deg));
        box-shadow:
            inset $bg 0 $width 0 0,
            inset $fill 0 $width 0 0,
            inset $bg 0 $width 0 0,
            inset $fill 0 $height 0 0;
    }
    100%{
        @include transform(rotate(180deg));
        box-shadow:
            inset $bg 0 $width 0 0,
            inset $fill 0 $width 0 0,
            inset $bg 0 $width 0 0,
            inset $fill 0 $height 0 0;
    }
}