/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 11:45:51 PM
    Author     : milind
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:28:31 PM
    Author     : milind
*/
.loader7 .hourglass {
  display: block;
  background: #292b37;
  width: 1em;
  height: 2em;
  box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 0 2em 0;
  -webkit-animation: hourglass 1s linear infinite;
  -moz-animation: hourglass 1s linear infinite;
  -ms-animation: hourglass 1s linear infinite;
  -o-animation: hourglass 1s linear infinite;
  animation: hourglass 1s linear infinite; }
.loader7 .outer {
  fill: white; }
.loader7 .middle {
  fill: #292b37; }

@-webkit-keyframes hourglass {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 2em 0 0, inset white 0 2em 0 0; }
  80% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; } }
@-moz-keyframes hourglass {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 2em 0 0, inset white 0 2em 0 0; }
  80% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; } }
@-ms-keyframes hourglass {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 2em 0 0, inset white 0 2em 0 0; }
  80% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; } }
@-o-keyframes hourglass {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 2em 0 0, inset white 0 2em 0 0; }
  80% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; } }
@keyframes hourglass {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 0 0 0, inset white 0 1em 0 0, inset #292b37 0 2em 0 0, inset white 0 2em 0 0; }
  80% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; }
  100% {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    box-shadow: inset #292b37 0 1em 0 0, inset white 0 1em 0 0, inset #292b37 0 1em 0 0, inset white 0 2em 0 0; } }

/*# sourceMappingURL=loader7.css.map */
