/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 9:00:14 PM
    Author     : milind
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:28:31 PM
    Author     : milind
*/
.loader1 {
  background: #292b37; }
  .loader1 span, .loader1 p {
    motion-path: path("M67.3,17.8c0-9.3-4.8-14.5-13.8-14.5C41.9,3.2,35.7,17,35.7,17s-6.2,13.8-17.8,13.8C10,30.8,4,25.5,4,17.7 C4, 9.6, 10, 3.2, 17.8, 3.2C29.4, 3.2, 35.7, 17, 35.7, 17s6.2, 13.8, 17.8, 13.8C61.4, 30.8, 67.3, 24.8, 67.3, 17.8z");
    position: absolute; }
  .loader1 span {
    color: #fff;
    font-size: 12px;
    -webkit-animation: loader1 1.4s linear infinite;
    -moz-animation: loader1 1.4s linear infinite;
    -ms-animation: loader1 1.4s linear infinite;
    -o-animation: loader1 1.4s linear infinite;
    animation: loader1 1.4s linear infinite;
    motion-rotation: reverse; }
  .loader1 p {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0;
    margin: 0;
    background: #fff;
    -webkit-animation: loader1 1.4s linear infinite, loader1dot linear forwards;
    -moz-animation: loader1 1.4s linear infinite, loader1dot linear forwards;
    -ms-animation: loader1 1.4s linear infinite, loader1dot linear forwards;
    -o-animation: loader1 1.4s linear infinite, loader1dot linear forwards;
    animation: loader1 1.4s linear infinite, loader1dot linear forwards; }
    .loader1 p:nth-of-type(1) {
      background: #bf4040;
      -webkit-animation-delay: 0.015s;
      animation-delay: 0.015s; }
    .loader1 p:nth-of-type(2) {
      background: #bf5540;
      -webkit-animation-delay: 0.03s;
      animation-delay: 0.03s; }
    .loader1 p:nth-of-type(3) {
      background: #bf6a40;
      -webkit-animation-delay: 0.045s;
      animation-delay: 0.045s; }
    .loader1 p:nth-of-type(4) {
      background: #bf8040;
      -webkit-animation-delay: 0.06s;
      animation-delay: 0.06s; }
    .loader1 p:nth-of-type(5) {
      background: #bf9540;
      -webkit-animation-delay: 0.075s;
      animation-delay: 0.075s; }
    .loader1 p:nth-of-type(6) {
      background: #bfaa40;
      -webkit-animation-delay: 0.09s;
      animation-delay: 0.09s; }
    .loader1 p:nth-of-type(7) {
      background: #bfbf40;
      -webkit-animation-delay: 0.105s;
      animation-delay: 0.105s; }
    .loader1 p:nth-of-type(8) {
      background: #aabf40;
      -webkit-animation-delay: 0.12s;
      animation-delay: 0.12s; }
    .loader1 p:nth-of-type(9) {
      background: #95bf40;
      -webkit-animation-delay: 0.135s;
      animation-delay: 0.135s; }
    .loader1 p:nth-of-type(10) {
      background: #80bf40;
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    .loader1 p:nth-of-type(11) {
      background: #6abf40;
      -webkit-animation-delay: 0.165s;
      animation-delay: 0.165s; }
    .loader1 p:nth-of-type(12) {
      background: #55bf40;
      -webkit-animation-delay: 0.18s;
      animation-delay: 0.18s; }
    .loader1 p:nth-of-type(13) {
      background: #40bf40;
      -webkit-animation-delay: 0.195s;
      animation-delay: 0.195s; }
    .loader1 p:nth-of-type(14) {
      background: #40bf55;
      -webkit-animation-delay: 0.21s;
      animation-delay: 0.21s; }
    .loader1 p:nth-of-type(15) {
      background: #40bf6a;
      -webkit-animation-delay: 0.225s;
      animation-delay: 0.225s; }
    .loader1 p:nth-of-type(16) {
      background: #40bf80;
      -webkit-animation-delay: 0.24s;
      animation-delay: 0.24s; }
    .loader1 p:nth-of-type(17) {
      background: #40bf95;
      -webkit-animation-delay: 0.255s;
      animation-delay: 0.255s; }
    .loader1 p:nth-of-type(18) {
      background: #40bfaa;
      -webkit-animation-delay: 0.27s;
      animation-delay: 0.27s; }
    .loader1 p:nth-of-type(19) {
      background: #40bfbf;
      -webkit-animation-delay: 0.285s;
      animation-delay: 0.285s; }
    .loader1 p:nth-of-type(20) {
      background: #40aabf;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .loader1 p:nth-of-type(21) {
      background: #4095bf;
      -webkit-animation-delay: 0.315s;
      animation-delay: 0.315s; }
    .loader1 p:nth-of-type(22) {
      background: #4080bf;
      -webkit-animation-delay: 0.33s;
      animation-delay: 0.33s; }
    .loader1 p:nth-of-type(23) {
      background: #406abf;
      -webkit-animation-delay: 0.345s;
      animation-delay: 0.345s; }
    .loader1 p:nth-of-type(24) {
      background: #4055bf;
      -webkit-animation-delay: 0.36s;
      animation-delay: 0.36s; }
    .loader1 p:nth-of-type(25) {
      background: #4040bf;
      -webkit-animation-delay: 0.375s;
      animation-delay: 0.375s; }
    .loader1 p:nth-of-type(26) {
      background: #5540bf;
      -webkit-animation-delay: 0.39s;
      animation-delay: 0.39s; }
    .loader1 p:nth-of-type(27) {
      background: #6a40bf;
      -webkit-animation-delay: 0.405s;
      animation-delay: 0.405s; }
    .loader1 p:nth-of-type(28) {
      background: #8040bf;
      -webkit-animation-delay: 0.42s;
      animation-delay: 0.42s; }
    .loader1 p:nth-of-type(29) {
      background: #9540bf;
      -webkit-animation-delay: 0.435s;
      animation-delay: 0.435s; }
    .loader1 p:nth-of-type(30) {
      background: #aa40bf;
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    .loader1 p:nth-of-type(31) {
      background: #bf40bf;
      -webkit-animation-delay: 0.465s;
      animation-delay: 0.465s; }
    .loader1 p:nth-of-type(32) {
      background: #bf40aa;
      -webkit-animation-delay: 0.48s;
      animation-delay: 0.48s; }
    .loader1 p:nth-of-type(33) {
      background: #bf4095;
      -webkit-animation-delay: 0.495s;
      animation-delay: 0.495s; }
    .loader1 p:nth-of-type(34) {
      background: #bf4080;
      -webkit-animation-delay: 0.51s;
      animation-delay: 0.51s; }
    .loader1 p:nth-of-type(35) {
      background: #bf406a;
      -webkit-animation-delay: 0.525s;
      animation-delay: 0.525s; }

@-webkit-keyframes loader1 {
  to {
    motion-offset: 100%; } }
@-moz-keyframes loader1 {
  to {
    motion-offset: 100%; } }
@-ms-keyframes loader1 {
  to {
    motion-offset: 100%; } }
@-o-keyframes loader1 {
  to {
    motion-offset: 100%; } }
@keyframes loader1 {
  to {
    motion-offset: 100%; } }
@-webkit-keyframes loader1dot {
  to {
    opacity: 1; } }
@-moz-keyframes loader1dot {
  to {
    opacity: 1; } }
@-ms-keyframes loader1dot {
  to {
    opacity: 1; } }
@-o-keyframes loader1dot {
  to {
    opacity: 1; } }
@keyframes loader1dot {
  to {
    opacity: 1; } }
@supports not (motion-rotation: auto) {
  body:before {
    content: 'Sorry! you browser not supports!';
    background: #dc3b3b;
    padding: 10px 0;
    text-align: center;
    display: block;
    color: #fff; } }

/*# sourceMappingURL=loader1.css.map */
