/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:17:23 PM
    Author     : milind
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug, 2016, 10:28:31 PM
    Author     : milind
*/
.loader2 .loader {
  position: relative;
  width: 44px;
  height: 8px;
  margin: 12px auto; }
.loader2 .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #ccc;
  position: absolute; }
.loader2 .dot_1 {
  -webkit-animation: animateDot1 1.5s linear infinite;
  -moz-animation: animateDot1 1.5s linear infinite;
  -ms-animation: animateDot1 1.5s linear infinite;
  -o-animation: animateDot1 1.5s linear infinite;
  animation: animateDot1 1.5s linear infinite;
  left: 12px;
  background: #e579b8; }
.loader2 .dot_2 {
  -webkit-animation: animateDot2 1.5s linear infinite;
  -moz-animation: animateDot2 1.5s linear infinite;
  -ms-animation: animateDot2 1.5s linear infinite;
  -o-animation: animateDot2 1.5s linear infinite;
  animation: animateDot2 1.5s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: 24px; }
.loader2 .dot_3 {
  -webkit-animation: animateDot3 1.5s linear infinite;
  -moz-animation: animateDot3 1.5s linear infinite;
  -ms-animation: animateDot3 1.5s linear infinite;
  -o-animation: animateDot3 1.5s linear infinite;
  animation: animateDot3 1.5s linear infinite;
  left: 12px; }
.loader2 .dot_4 {
  -webkit-animation: animateDot4 1.5s linear infinite;
  -moz-animation: animateDot4 1.5s linear infinite;
  -ms-animation: animateDot4 1.5s linear infinite;
  -o-animation: animateDot4 1.5s linear infinite;
  animation: animateDot4 1.5s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  left: 24px; }

@-webkit-keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }
@-moz-keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }
@-ms-keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }
@-o-keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }
@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(180deg) translateX(-12px); }
  75% {
    transform: rotate(180deg) translateX(-12px); }
  100% {
    transform: rotate(360deg) translateX(-12px); } }
@-webkit-keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }
@-moz-keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }
@-ms-keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }
@-o-keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-12px); }
  25% {
    transform: rotate(-180deg) translateX(-12px); }
  75% {
    transform: rotate(-180deg) translateX(-12px); }
  100% {
    transform: rotate(-360deg) translateX(-12px); } }
@-webkit-keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }
@-moz-keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }
@-ms-keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }
@-o-keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(180deg) translateX(12px); }
  75% {
    transform: rotate(180deg) translateX(12px); }
  100% {
    transform: rotate(360deg) translateX(12px); } }
@-webkit-keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }
@-moz-keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }
@-ms-keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }
@-o-keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(12px); }
  25% {
    transform: rotate(-180deg) translateX(12px); }
  75% {
    transform: rotate(-180deg) translateX(12px); }
  100% {
    transform: rotate(-360deg) translateX(12px); } }

/*# sourceMappingURL=loader2.css.map */
